/* ========================= Background ========================= */
body {
    background: #101010;
    background-image: linear-gradient(to right, #333 0.05vw, transparent 0.1vw), linear-gradient(to bottom, #333 0.05vw, transparent 0.1vw);
    background-size: 5.1vh 5.1vh;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ========================= Main ========================= */
main {
    text-align: center;
    z-index: 1;
    width: 50vw;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main::before {
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from var(--a), rgba(255, 255, 255, 0), white);
    border-radius: 2vw;
    animation: rotatingGradient 10s linear infinite;
}

main::after {
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from var(--a), rgba(255, 255, 255, 0), white);
    border-radius: 1vw;
    animation: rotatingGradient 10s linear infinite;
    filter: blur(4vw);
    opacity: 0.75;
}

main article {
    position: absolute;
    inset: 0.5vw;
    background: #1b1b1b;
    border-radius: 1.5vw;
    z-index: 1;
    overflow: hidden;
}

main article h1 {
    color: white;
    font-size: 3vw;
    padding: 0 2vw;
}

main article h1 span {
    position: relative;
    color: rgba(255, 255, 255, 0.1);
    animation: displayText 9s infinite;
    animation-delay: calc(-3s * var(--i));
}

main article h1 span::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    color: #01fe87;
    border-right: 0.2vw solid #01fe87;
    filter: drop-shadow(0 0 1vh #01fe87) drop-shadow(0 0 5vh #01fe87);
    animation: animateText 3s linear infinite;
}

@keyframes animateText {

    0%,
    10%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}

@keyframes displayText {
    0% {
        display: inline-block;
    }

    33.33%,
    100% {
        display: none;
    }
}

@keyframes rotatingGradient {
    0% {
        --a: 0deg
    }

    100% {
        --a: 360deg
    }
}

@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

/*========================= Portfolio References =========================*/
main article h3 {
    display: flex;
    justify-content: space-around;
}

main article h3 img {
    width: 5vw;
    transition: all 0.3s;
    color: white;
}

main article h3 img:hover {
    filter: drop-shadow(0 0 1vh white);
    width: 7vw;
    cursor: pointer;
}

/*========================= Background Bubbles =========================*/
.bubbles {
    display: flex;
    border-radius: 50%;
}

.bubbles img {
    min-width: 4vw;
    margin: 0 2vw;
    animation: moveBubbles 15s linear infinite;
    animation-direction: alternate;
    animation-duration: calc(800s / var(--i));
    filter: drop-shadow(0vw 0vh 4vh white);
}

.bubbles img:nth-child(even) {
    min-width: 3vw;
}

@keyframes moveBubbles {
    0% {
        transform: translateY(105vh) scale(1);
    }

    100% {
        transform: translateY(0vh) scale(1.5);
    }
}